/node_modules/
npm-debug.log*
*.log
pids
*.pid
*.seed
*.pid.lock
dist/
build/
out/
lib/
.temp/
.cache/
.parcel-cache/
.next/
.nuxt/
.serverless/
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*~
*.tgz
*.zip